<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <clear />
    <add key="Statoil" value="https://statoil-mad.pkgs.visualstudio.com/_packaging/MadShared/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Statoil>
      <add key="Username" value="vsts" />
      <add key="ClearTextPassword" value="__NUGET_PAT__" />
    </Statoil>
  </packageSourceCredentials>
</configuration>